@use 'colors' as c;
@use "sass:list";
@use "sass:map";
@use "sass:meta";

@mixin message($type) {
   @if $type == success{
     @debug #{success} + ' message'
   };
   @if $type == info{
     @debug #{info}
   };
   @if $type == error{
     @debug #{error}
   }
 };
 
//  .message-success {
//    @include message(success);
//  }
 
//  .message-info {
//    @include message(info);
//  }
 
//  .message-error {
//    @include message(error);
//  }
 
 
//  @include message(info);



@mixin setColors(){
   @for $i from 1 through length(c.$listColors){
      $themeText: 'text';
      $themeBg: 'bg';

      $currentTheme: nth(nth(c.$listColors, $i), 1);
      $currentTextMode: map.get(c.$listColors, $currentTheme, $themeText);
      $currentBgMode: map.get(c.$listColors, $currentTheme, $themeBg);

      .theme__#{$currentTheme + '-' + #{$themeText}}{
         color: $currentTextMode
      }
      .theme__#{$currentTheme + '-' + #{$themeBg}}{
         background-color: $currentBgMode
      }
   }
};

@include setColors()