@use 'sass:meta';

@function pow($base, $exp){
  $result: 1;

  @for $_ from 1 through $exp {
    $result: $result * $base;
  }

  @return $result
}

.sidebar{
  margin-left: #{pow(2, 3)}px;
}


@function concat($str, $times, $delimetr: ' ') {
  $res: '';

  @for $_ from 1 through $times {
    @if $res == '' {
      $res: $res + $str;
    } @else{
      $res: $res + $delimetr + $str;
    }
  }

  @return $res;
}

// @debug concat('hello', 3, '_');


$someElements: 15,20,13;

@function concatKeywords($args...){
  $str: '';
    @each $key, $val in meta.keywords($args) {
      $str: $str + $key + ": " + $val + '; ' ; 
    }

  @return $str;
}


@debug concatKeywords($succes: green, $error: red)
